{% extends 'messenger/chats.html' %}
{% load static %}

{% block chat_information %}
  <div class="messenger-container">
    <div class="chats-list">


    <div class="chat-info">
      <h2>{{ chat_name }}</h2>
      <ul id="messages-list">
        <!-- Сообщения чата будут добавляться сюда через JavaScript -->
      </ul>

      <form id="message-form">
        <textarea id="message-text" name="text" placeholder="Enter your message" required></textarea><br>
        <input type="file" id="message-image" name="picture"><br>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  </div>
    <script src="{% static 'messenger/js/chat_detail.js' %}"></script>
{% endblock %}


