{% extends 'messenger/chats.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'messenger/css/chats.css' %}">
        <link rel="stylesheet" href="{% static 'messenger/css/chat_detail.css' %}">
{% endblock %}

{% block chat_information %}
<div id="chat-info" data-chat-id="{{ chat_id }}" data-username="{{ user.username }}">
    <h2>{{ chat_name }}</h2>
</div>

<ul id="messages-list"></ul>

<form id="message-form">
    <textarea id="message-text" placeholder="Введите сообщение" required></textarea>
    <input type="file" id="message-image" accept="image/*">
    <button type="submit">Send</button>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'messenger/js/chat_detail.js' %}"></script>
{% endblock %}
