{% extends 'layout.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
    <h1>Список пользователей</h1>
    <ul>
        {% for user, chat in contacts.items %}
            <li>
                <a href="{% url 'profile' username=user.username %}">{{ user }}</a>
                {% if chat %}
                    <!-- Если чат существует, выводим ссылку на чат -->
                    <a href="{% url 'messages' chat_id=chat.id %}">Перейти к чату</a>
                {% else %}
                    <!-- Если чата нет, выводим кнопку для создания чата -->
                    <a href="{% url 'create_chat' username=user.username %}" class="btn btn-primary">Создать чат</a>
                {% endif %}
                <!-- Выводим статус онлайна пользователя -->

            </li>
        {% endfor %}
    </ul>
{% endblock %}
