{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HBT{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
</head>
<body>
    {% if user.is_authenticated and user.is_confirmed %}
        <header>
            <nav>
                <ul>
                    <li>{{ user.username }}</li>
                    <li><a href="{% url 'chats' username=user.username %}">Чаты</a></li>
                    <li><a href="{% url 'users' %}">Пользователи</a></li>
                    <li><a href="{% url 'profile' username=user.username %}">Мой профиль</a></li>
                    <li><a href="{% url 'user_subs' %}">Мои группы</a></li>
                    <li><a href="{% url 'groups' %}">Все группы</a></li>
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                    <li><a href="{% url 'create_group' %}">Создать группу </a></li>
                </ul>
            </nav>
        </header>
    {% endif %}
    <main>
        {% block content %}
        <!-- Контент будет вставлен здесь -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 HBT</p>
    </footer>
</body>
</html>
