{% extends "layout.html" %}
{% load static %}
{% block content %}
    <h1>Login</h1>

    <form id="login-form">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <div id="error-message" style="color: red; display: none;"></div>
        <script src="{% static 'users/js/login.js' %}"></script>
{% endblock %}
