{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <section>
        <h1>Ваш профиль: {{ public_name }}</h1>
        <p><strong>Ваш никнейм:</strong> {{ username }}</p>
        {% if user_online %}
            <p>Онлайн</p>
        {% else %}
            <p>Оффлайн</p>
        {% endif %}

        <p><strong>ваш Email:</strong> {{ email }}</p>

        <p><strong>ваш Статус:</strong> {{ status }}</p>

        <p><strong>ваша Дата регистрации:</strong> {{ reg_date }}</p>

        {% if avatar %}
            <p><img src="{{ avatar.url }}" alt="avatar" width="200"></p>
        {% else %}
            <p>Ваша аватарка не установлена</p>
        {% endif %}

    </section>


        <section>
            <h2>Ваши подписки:</h2>
            <ul>
                {% for group in groups %}
                    <li>{{ group.group.name }}</li>
                {% endfor %}
            </ul>
        </section>

        <section>

            <h2><a href="{%  url 'edit_profile' %}">Редактировать профиль</a> </h2>

        </section>
{% endblock %}
