{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HBT{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'layout/css/layout.css' %}">
    {% block extra_css %}
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated and user.is_confirmed %}
        <header>
            <!-- Навигация слева -->
            <div class="nav-left">
                <a href="{% url 'chats' %}">Чаты</a>
                <a href="{% url 'contacts' %}">Контакты</a>
                <a href="{% url 'create_group_chat' %}">Создать групповой чат</a>
            </div>

            <!-- Навигация справа -->
            <div class="nav-right">
                <a href="{% url 'profile' %}" class="profile-link">{{ user.username }}</a>
                <a href="{% url 'logout' %}" class="logout">Выход</a>
            </div>
        </header>
    {% endif %}

    <main>
        {% block content %}
        <!-- Контент будет вставлен здесь -->
        {% endblock %}
    </main>

</body>
</html>