{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HBT{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated and user.is_confirmed %}
        <header>
            <nav>
                <ul style="list-style-type: none; display: flex; gap: 10px;">
                    <li><button onclick="location.href='{% url 'chats' %}'">Чаты</button></li>
                    <li><button onclick="location.href='{% url 'contacts' %}'">Контакты</button></li>
                    <li><button onclick="location.href='{% url 'profile' %}'">Мой профиль</button></li>
                    <li><button onclick="location.href='{% url 'user_subs' %}'">Мои группы</button></li>
                    <li><button onclick="location.href='{% url 'groups' %}'">Все группы</button></li>
                    <li><button onclick="location.href='{% url 'create_group' %}'">Создать группу</button></li>
                    <li><button onclick="location.href='{% url 'create_group_chat' %}'">Создать групповой чат</button></li>
                    <li><button onclick="location.href='{% url 'logout' %}'">Выход</button></li>
                </ul>
            </nav>
        </header>
    {% endif %}
    <main>
        {% block content %}
        <!-- Контент будет вставлен здесь -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 HBT</p>
    </footer>
</body>
</html>
