/* Общие стили */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    background: #324459;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Стили для списка чатов */
.chats-list {
    width: 20%;
    background: #17212b;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: none;
}

.chats-list::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Chrome, Safari и Opera */
}

.chat-card {
    cursor: pointer;
    padding: 2%;
    border-bottom: none; /* Убираем серый разделитель */
}

.chat-card:hover {
    background-color: #1f2b37;
}

.chat-card.active {
    background-color: #2b5177; /* Цвет фона для выделенной карточки */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

.chat-header {
    display: flex;
    align-items: center;
    color: white;
}

.chat-avatar {
    width: 50px; /* Уменьшаем размер аватара */
    height: 50px;
    background: white;
    border-color: white;
    border-radius: 50%;
    margin-right: 8px; /* Отступ справа от аватара */
}

.chat-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat-title {
    margin: 0;
    font-size: 1em;
}

.last-message {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: #c8c8c8;
}

.last-message .message-content {
    display: flex;
    align-items: center;
}

.last-message .message-image-preview {
    width: 20px; /* Фиксированная ширина */
    height: 20px; /* Фиксированная высота */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
    border-radius: 4px; /* Скругленные углы, если нужно */
    margin-right: 8px; /* Отступ справа от изображения */
}

.last-message .message-text {
    margin: 0; /* Убираем отступы у текста */
    overflow: hidden; /* Обрезаем текст, если он слишком длинный */
    text-overflow: ellipsis; /* Добавляем многоточие, если текст обрезан */
    white-space: nowrap; /* Предотвращаем перенос текста */
}

/* Стили для контейнера сообщений */
.messages-container {
    background: #324459;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 90%; /* Гибкая высота */
    position: relative;
}

.messages-list {
    flex-grow: 1;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    padding-bottom: 20px;
    margin-bottom: 20px;
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
    background: #324459;
}

.messages-list::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Chrome, Safari и Opera */
}

.message-card {
    margin-bottom: 16px; /* Отступ между сообщениями */
}

.message-card.self {
    justify-content: flex-end; /* Выравниваем по правому краю */
}

.message-card.other {
    justify-content: flex-start; /* Выравниваем по левому краю */
}

.message-bubble {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 8px 12px;
    max-width: 20%; /* Максимальная ширина пузырька */
    width: fit-content; /* Ширина подстраивается под содержимое */
    word-wrap: break-word;
    position: relative; /* Для позиционирования реакций */
}

.message-bubble.self {
    background-color: #2a6fc3;
    color: white;
    margin-left: auto; /* Сообщение пользователя справа */
}

.message-bubble.other {
    background-color: #1a2753; /* Цвет фона для сообщений других пользователей */
    color: white;
    margin-right: auto;
}

.message-bubble .message-image {
    width: 150px; /* Фиксированная ширина */
    height: 150px; /* Фиксированная высота для квадратного формата */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
    border-radius: 8px; /* Скругленные углы, если нужно */
    display: block; /* Убираем возможные отступы */
    margin-bottom: 8px; /* Отступ снизу от изображения */
}

.message-text {
    margin: 0;
    font-size: 1.1em;
}

.message-time {
    font-size: 0.8em;
    color: #ffffff;
    text-align: right;
    margin-top: 5px;
}

/* Стили для формы отправки сообщений */
#message-form {
    width: 80%;
    padding: 20px;
    background: #17212b;
    color: white;
    box-sizing: border-box;
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0;
    right: 0; /* Прикрепляем к правому краю */
    z-index: 50;
    height: auto; /* Гибкая высота */
    display: none;
    align-items: center;
}

#message-form .input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

#message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    resize: none; /* Отключаем изменение размера текстового поля */
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #17212b;
    overflow-y: hidden; /* Отключаем вертикальную прокрутку */
    overflow-x: hidden;
    white-space: nowrap; /* Отключаем перенос текста на новую строку */
}

#message-form textarea:focus {
    border: none;
    outline: none;
}

#message-form .input-group-append {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#message-form .input-group-append span {
    cursor: pointer;
    margin-right: 10px;
}

#message-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4d94ff;
    color: white;
}

#message-form button:active {
    background-color: #357ae8; /* Изменяем цвет фона кнопки при нажатии */
}

/* Стили для формы редактирования сообщений */
#edit-message-form {
    width: 100%;
    background: white; /* Убираем полупрозрачность */
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: absolute; /* Абсолютное позиционирование */
    bottom: 20px; /* Располагаем снизу */
    left: 20px;
    right: 20px;
    z-index: 1000; /* Поднимаем з-индекс, чтобы перекрыть другие элементы */
    display: none; /* По умолчанию скрыта */
}

#edit-message-form h2 {
    margin-top: 0;
}

#edit-message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#edit-message-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-message-form .save-button {
    background-color: #28a745;
    color: white;
}

#edit-message-form .cancel-button {
    background-color: #ff4d4d;
    color: white;
}

/* Стили для реакций */
.reactions-container {
    display: flex;
    margin-top: 2px; /* Отступ сверху от пузырька */
}

.message-card.other .reactions-container {
    justify-content: flex-start; /* Выравниваем по левому краю */
}

.message-card.self .reactions-container {
    justify-content: flex-end; /* Выравниваем по правому краю */
}

.reactions {
    display: flex;
    gap: 2px; /* Расстояние между реакциями */
    background-color: transparent;
}

.reaction-btn {
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px; /* Овальная форма */
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Тень для объема */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы */
}

.reaction-btn:hover {
    background-color: #d3d3d3;
}

.reaction-btn.user-reacted {
    background-color: #90caf9; /* Голубоватый цвет */
    border-radius: 20px; /* Закругленные углы */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.reaction-btn.user-reacted:hover {
    background-color: #7db8e6; /* Голубоватый цвет */
}

.reaction-btn:active {
    background-color: #e0e0e0; /* Слегка темнее фон */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); /* Уменьшаем тень для эффекта "нажатия" */
}

.reaction-btn .reaction-count {
    margin-left: 5px;
    font-size: 0.9em;
}

/* Контекстное меню */
.context-menu {
    display: none;
    position: absolute;
    background-color: #17212b;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 120px;
    border-radius: 10px;
}

.context-menu-btn {
    display: block;
    width: 100%;
    padding: 8px 16px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
}

.context-menu-btn:hover {
    background-color: #1f2b37;
}

.reactions-context-menu {
    display: flex;
    gap: 8px;
    padding: 8px;
    border-top: 1px solid #ccc;
}

.reactions-context-menu .reaction-btn {
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 4px;
    transition: all 0.3s ease;
}

.reactions-context-menu .reaction-btn:hover {
    background-color: #1f2b37;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.reaction-count {
    font-size: 12px;
    color: #555;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}